* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.container {
  width: 1000px;
  margin: 2rem auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: lightskyblue;
  color: white;
}
